.h5p-pyth5p-solution-text {
    display: block;
    color: #1a73d9;
    font-weight: bold;
    margin-bottom: 0.8em;
}
.h5p-pyth5p-feedback-text {
    display: block;
    margin-bottom: 0.8em;
}
.h5p-pyth5p-feedback {
    margin-top: .75em;
}
.h5p-pyth5p-feedback .feedback-separator {
    padding-top: 10px;
    border-top: 2px solid #eee;
}
.h5p-pyth5p-feedback-best-answer {
    border: 2px solid #47b47d;
    border-radius: 4px;
}
.h5p-pyth5p-feedback-best-answer h5 {
    font-size: 1.02em;
    color: #47b47d;
    font-weight: bold;
    margin-top: 0;
}
