.footer-container {
    margin-top: 1.5em;
}
.footer-container ul {
    padding-left: 0;
}
.footer-container ul li {
    list-style-type: none;
    padding: .5em;
}
.h5p-pyth5p-feedback-tips {
    margin-top: 1em;
    font-size: .95em;
}
.h5p-pyth5p-feedback-tips p {
    margin-bottom: 0;
}
.footer-container .check-indication {
    font-size: .8em;
    padding-left: .5em;
}
