.h5p-pyth5p-code {
    width: 100%;
}
.CodeMirror {
    font-family: monospace;
    height: auto !important;
}
.CodeMirror-scroll {
    height: auto !important;
    overflow-y: hidden;
    overflow-x: auto;
}
