@font-face {
    font-family: 'UbuntuMono';
    src: url('../assets/fonts/UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBMPlexMon';
    src: url('../assets/fonts/IBMPlexMono-Regular.woff2') format('webfont.woff2'),
    url('../assets/fonts/IBMPlexMono-Regular.woff') format('woff'),
    url('../assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('../assets/fonts/SourceCodePro-Regular.ttf.woff2') format('webfont.woff2'),
    url('../assets/fonts/SourceCodePro-Regular.ttf.woff') format('woff'),
    url('../assets/fonts/SourceCodePro-Regular.ttf') format('truetype');
}

.h5p-pyth5p {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1em;
}
.h5p-pyth5p-code-wrapper {
    width: var(--code-width) !important;
    margin: 0 auto;
} 
.h5p-pyth5p-code {
    width: 100%;
}

.h5p-pyth5p .feedback-text {
    display: block;
    color: #1a73d9;
    font-weight: bold;
    margin-bottom: 0.8em;
}